<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<customer>
			<create_account>
				<disable_welcome_email>0</disable_welcome_email>
			</create_account>
		</customer>
	</default>
</config>